


header{
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    width: 950px;
    height:225px;
    z-index: 2;
    box-shadow: 2px 2px rgb(235, 235, 235);
}

.searchbar input{
    top: 30px;
    left:45px;
    position: absolute;
    height: 35px;
    width: 500px;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(235, 235, 235);
    
}
#searchimg {
    position: absolute;
    top: 33px;
}

#body {
    position: absolute;
    background-color: rgb(235, 235, 235);
    width:950px;
    height:874px;
    bottom: -472px;
    right:0px;
}
    

#acc1 {
    position: absolute;
    top:25px;
    right:220px;
    border: 2px solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 193);
}

#noti {
    position: absolute;
    top:33px;
    right:300px;
}

#hedtext {
    position:absolute;
    right:33px;
    top:18px;
}

#acc2{
    position: absolute;
    top:125px;
    left:45px;
    border: 2px solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 193);
    height: 70px;
    width: 70px;

}

#hello{
    color: lightslategray;
    position: absolute;
    top:125px;
    left:145px;

}


#username{
    position:absolute;
    top:135px;
    left:145px;

}

#new {
    font-size: 15.6px;
    width: 110px;
    height: 45px;
    background-color: rgb(105, 209, 243);
    color: white;
    font-weight: 700;
    padding: 10px 23px 9px 23px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 100ms ease-in-out;
    position: absolute;
    top:150px;
    right:290px;
}

#upload{
    font-size: 15.6px;
    width: 110px;
    height: 45px;
    background-color:rgb(105, 209, 243);
    color: white;
    font-weight: 700;
    padding: 10px 23px 9px 23px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 100ms ease-in-out;
    position:absolute;
    top:150px;
    right:170px;
}

#share{
    font-size: 15.9px;
    width: 110px;
    height: 45px;
    background-color: rgb(105, 209, 243);
    color: white;
    font-weight: 700;
    padding: 10px 23px 9px 23px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 100ms ease-in-out;
    position: absolute;
    top:150px;
    right:50px;

}


#sidebar {
    background-color:rgb(0, 0, 0);
    position:absolute;
    width: 330px;
    height: 1100px;
    left: 0px;
    top:0px;
    display: grid;
    grid-template-columns: repeat(20,80px);
    grid-template-rows: repeat(20,80px); 
}

.sidetext{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.sidetext:hover{
    text-decoration: underline white;

}

.border {
    border: 15px solid rgb(0, 0, 0);;
}

#start1 {
    grid-row-start: 3;
    grid-column-start:1 ;
   
 
}
#start2 {
    grid-row-start: 3;
    grid-column-start:2 ;
}
 
#start3{
    grid-row-start: 4;
}
 
#start4{
    grid-row-start: 4;
    grid-column-start:2 ;
}
 
#start5{
    grid-row-start: 5;
    grid-column-start:1 ;
}
 
#start6{
    grid-row-start: 5;
    grid-column-start:2 ;
}
#start7{
    grid-row-start: 6;
    grid-column-start:1 ;
}
#start8{
    grid-row-start: 6;
    grid-column-start:2 ;
}
#start9{
    grid-row-start: 7;
    grid-column-start:1 ;
}
#start10{
    grid-row-start: 7;
    grid-column-start:2 ;
}
#start11{
    grid-row-start: 8;
    grid-column-start:1 ;
}
#start12{
    grid-row-start: 8;
    grid-column-start:2 ;
}
#start13{
    grid-row-start: 10;
    grid-column-start:1 ;
}
#start14{
    grid-row-start: 10;
    grid-column-start:2 ;
}
#start15{
    grid-row-start: 11;
    grid-column-start:1 ;
}
#start16{
    grid-row-start: 11;
    grid-column-start:2 ;
}
#start17{
    grid-row-start: 12;
    grid-column-start:1 ;
}
#start18{
    grid-row-start: 12;
    grid-column-start:2 ;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

H1 {
    font-family: sans-serif;
}


.card {
    background-color: white;
    border-left-color: teal;
    border: 3px solid rgb(231, 231, 231);
    border-radius: 15px;
    box-shadow: 2px 2px rgb(207, 207, 207);
    border-left-color: khaki;
    border-left:rgb(204, 190, 63) 10px solid;
    
}


#maincontent{
    display: grid;
    grid-template-columns: 300px 300px ;
    grid-template-rows: repeat(3,200px) ;
    column-gap: 35px;
    row-gap:50px ;
    position: absolute;
    left:30px;
}

H2 {
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
    opacity: 65%;
}

